
<!DOCTYPE html>
<html>
  <head>
    <title>Target: MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>
  List of all directors
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% Director.all.each do |row| %>
    <tr>
      <td>
        <%= row.id %>
      </td>

      <td>
        <img src="https://image.tmdb.org/t/p/w500/<%= row.image %>" style="width:250px;">
      </td>

      <td>
        <%= row.name %>
      </td>

      <td>
        <%= row.dob%>
      </td>

      <td>
        <a href="/directors/<%= row.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
  </body>
</html>
